@if (photo(); as photo) {
  <section class="details">
    <div class="details__bar">
      <a mat-button class="details__back" routerLink="/favorites">
        <mat-icon aria-hidden="true">arrow_back</mat-icon>
        Favorites
      </a>
      <h1 class="details__title">{{ photo.alt }}</h1>
      <button mat-flat-button type="button" class="details__remove" (click)="remove()">
        <mat-icon aria-hidden="true">heart_minus</mat-icon>
        Remove from favorites
      </button>
    </div>

    <figure class="details__stage">
      @if (imageFailed()) {
        <div class="details__fallback">
          <mat-icon aria-hidden="true">broken_image</mat-icon>
          <p>This image could not be loaded.</p>
        </div>
      } @else {
        <img
          class="details__img"
          [src]="photo.url"
          [alt]="photo.alt"
          [width]="photo.width"
          [height]="photo.height"
          decoding="async"
          (error)="onImageError()" />
      }
    </figure>
  </section>
} @else if (!removing()) {
  <section class="page not-found">
    <mat-icon class="not-found__icon" aria-hidden="true">image_not_supported</mat-icon>
    <h1 class="not-found__title">Photo not found</h1>
    <p>This photo is not in your favorites. It may have been removed, or the link is incorrect.</p>
    <div class="not-found__actions">
      <a mat-flat-button routerLink="/favorites">Go to favorites</a>
      <a mat-button routerLink="/">Browse photos</a>
    </div>
  </section>
}
