<mat-toolbar class="header">
  <a class="header__brand" routerLink="/">
    <mat-icon>photo_camera</mat-icon>
    Photo Library
  </a>

  <nav class="header__nav">
    <a class="header__link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>photo_library</mat-icon>
      Photos
    </a>
    <a class="header__link" routerLink="/favorites" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      Favorites
    </a>
  </nav>
</mat-toolbar>
